# Get a clientId for your app on https://thirdweb.com/create-api-key
# make sure to add localhost:3000 to the list of allowed origins to use it locally
API_URL_sepolia =""
API_URL_basesepolia =""
API_URL_base =""
PRIVATE_KEY=""
ETHERSCAN_API_KEY=""
BASESCAN_API_KEY=""